body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: #f0f4f8;
  }
  
  .Meditation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .sidebar-open {
    margin-left: 250px;
  }
  
  #circle {
    background-color: #89c9b8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  #text {
    margin-top: 20px;
    font-size: 2rem;
  }
  
  .logo1{
    top:0;
    margin-left:0px;
    padding-left: 10px;
    padding-top: 10px;
    width: 400px;
  }